{% extends 'index.html' %}
{% block content %}
  <div class="categories-wrapper">
    <a href="http://127.0.0.1:8000/">Back to main page</a>
    <h2>Phone categories</h2>

    <div class="row">
      {% for item in all_phones %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title border-bottom pb-2 text-center">{{ item.name }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <p><strong>Memory: {{ item.memory }}GB</strong></p>
              <p>
                <strong>
                  Is available: {% if item.is_available %} <span style="color: green;">Yes</span> {% else %}
                  <span style="color: red;'">No</span> {% endif %}
                </strong>
              </p>
              <h2 class="card-price text-center">${{ item.price }}</h2>
              <div class="d-grid gap-2 col-6 mx-auto mt-3">
                <button class="btn btn-primary center-block text-uppercase">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}